@charset "EUC-KR";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
---------------------------------------------------------------------
Start from here
*/

/* 
---------------------------------------------------------------------
레이아웃 
---------------------------------------------------------------------
*/
#header {
	width: 100%;
	height: 170px; /*헤더고정*/
	background-color: #fff;
	border-bottom: 1px solid #c6c6c6;
}

/* 
---------------------------------------------------------------------
가운데 영역 
---------------------------------------------------------------------
*/
.contatiner {
	position: relative;
	width: 1700px;
	margin: 0 50 50 50px;
	background: rgba(0, 0, 0, 0);
}

/* 
---------------------------------------------------------------------
로우 영역 
---------------------------------------------------------------------
*/
.row {
	padding: 0 120px;
}

/* 
---------------------------------------------------------------------
헤더 영역 
---------------------------------------------------------------------
*/
.header {
	overflow: hidden;
	position: Fixed;
	width: 85%;
	height: 170px;
}

.header h1 {
	float: left;
}

/*로고위치*/
.header h1 em {
	padding: 13px 10px 10px 0;
	display: block;
}

.header h1 img {
	width: 50%;
	vertical-align: sub;
	margin-top: 20px;
}

/*오른쪽 서비스 위치*/
.nav {
	float: right;
	margin-top: 25px;
}

.header .nav ul {
	border-left: 0px solid #777;
}

.clearfix li {
	display: inline-flex;
	font-size: 13px;
	font-weight: 500;
}

.clearfix img {
	display: flex;
	margin-bottom: 10px;
	padding-left: 5px;
	width: 40px;
	height: 40px;
}

.clearfix span {
	display: flex;
	margin-bottom: 10px;
	margin-right: 20px;
	padding-left: -5px;
}

/*
---------------------------------------------------------------------
검색창
---------------------------------------------------------------------
*/
.search-box {
	position: absolute;
	top: 75%;
	left: 90%;
	transform: translate(-50%, -50%);
	background: #c0c0c0;
	height: 30px;
	border-radius: 30px;
	padding: 10px;
}

/*검색폭 */
.search-box:hover>.search-txt {
	width: 200px;
	padding: 0 6px;
}

/*돋보기*/
.search-box:hover>.search-btn {
	position: absolute;
	right: 5px;
	background: white;
	color: #1e1e1e;
}

.search-btn {
	color: #d9d9d9;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
}

/*
------------------------------------
메인
------------------------------------
*/

#movie {
	width: auto;
	height: 80%;
	background-color: #fff;
	background-attachment: fixed; /*배경고정*/
	position: sticky; /*헤더고정*/
	top: 0; /*헤더고정*/
	margin: 3%;
	padding-left: 134px;
	padding-right: 134px;
}

.movie h3 {
	line-height: 4;
	color: #000;
	font-weight: 700;
	font-family: 'Times New Roman', '돋움', sans-serif;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.container {
	position: relative;
	background-color: #F2F0E4;
	border-bottom: groove;
	border-right: groove;
}

.content {
	width: auto;
	height: auto;
	padding-top: 40px;
	display: flex;
}

.titlebar {
	text-align: center;
	width: 350px;
	display: block;
	position: relative;
	height: 33px;
	line-height: 33px;
	background-color: #333;
	color: #e0e0e0;
	clear: both;
	margin-bottom: 3px;
}

.titlebar .header {
	display: block;
	position: sticky;
	float: left;
	font-size: 17px;
	height: 100%;
	margin-left: 16px;
	font-weight: bold;
	letter-spacing: 0 !important;
	text-indent: 0 !important;
}

.movie_left {
	margin-right: 15px;
	margin-left: 43px;
	height: 400px;
}

.title{
	line-height: 3;
    font-size: 20px;
    font-weight: bold;
	
}


.movie_middle {
	margin-right: 80px;
	margin-left: -12px;
	height: 400px;
}

.info {
	font-weight: unset;
	font-size: 15px;
	line-height: 1.5;
	color: dimgray;
	margin-block: revert;
	text-align: center;
}

.movie_bottom {
	margin-top: 248px;
	margin-inline: 16px;
	background: url(/images/pay_buttons.png) no-repeat;;
	width: 300px;
	height: 112px;
	background-position: bottom;
}