@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
---------------------------------------------------------------------
Start from here
---------------------------------------------------------------------
*/

/* 로우 영역 */
.row {padding: 0 100px; }

/* 헤더 영역 */
.header {overflow: hidden; }
.header h1 {float: left; }
.header h1 em {padding: 13px 10px 10px 0; display:inline-block; }
.header h1 img {width: 200px; }

.header .nav {float: right; }
.header .nav ul {border-left: 0px solid #777; }
.header .nav ul li {float:left; width: 100xp; text-align: center; border-right: 0px solid #777; }
.header .nav ul li a {display: block; padding: 40px 20px; font-size: 28px; font-weight: 700; color: #123; transition: all 0.4s; }
.header .nav ul li a:hover {color: blue; }


/*
---------------------------------------------------------------------
[body] - Layout area
---------------------------------------------------------------------
*/
#screen
{
	width: 100%;
	height:100%;
	background-color: white;
	position: absolute;	
}

#screen #header
{
	position: relative;	
	left: 0px;
	top: 0px;
	width: 100%;
	height:107px;
	background-color: white;
}
#screen #header::after
{
    content: "";
    display: block;
    top: 106px;
    width: 100%;
    height: 1px;
    background: #b10303;
    position: absolute;
}


#screen #body
{
	position: relative;	
	width: 100%;
	height:100%;
	background-color: white;

}

#screen #body #container
{
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 900px;
	background-color: white;
}

#screen #body #container #contents
{
	position: relative;
	top: 20px;
	margin: 0 auto;
	width: 100%;
	height: 673px;
	box-shadow: 0px 2px 10px #0000009c;
}

/*
---------------------------------------------------------------------
[contents] - title area
---------------------------------------------------------------------
*/

#screen #body #container #contents #title
{
	position: relative;
	width:100%;
	height:20px;
	background-color: #504e4e;
	text-align:center;
	border: 2px solid #313131;

}

#screen #body #container #contents #title div
{
	position: relative;
	font-size: 12px;
	top: 6px;
	color: #efefef;
	
}

/*
---------------------------------------------------------------------
[contents] - Number Selection area
---------------------------------------------------------------------
*/
#screen #body #container #contents #select_area
{
	position: absolute;
    left:0px;
	width:50%;
	height:150px;
    text-align: center;
	border: 1px solid #a2a2a2;
	background-color: #fffdfbd6;
	box-shadow: 0px 2px 5px #0000009c;
}

#screen #body #container #contents #select_area #amount_area
{
    position: relative;
    
    top: 50%;
    transform: translateY(-50%);
	width:90%;
	height:100px;
    text-align: center;
    z-index: 1;
}

#screen #body #container #contents #type_adult_area
{
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    top: 25%;
    transform: translateY(-50%);
	width:95%;
	height:40px;
    z-index: 2;
}

#type_adult_area #text
{
    position: absolute;
    left: 0;
    top: 10%;
    margin: 10px 10px 10px 10px;
    color:#939292;

}
#type_adult_area ul
{
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    display:flex;
}

#type_adult_area ul .type_adult_block
{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 15px;
    background-color: white;
    border: 1px solid #a2a2a2;
    line-height: 16px;
    
}

#type_adult_area ul .type_adult_block.selected
{
	color: white;
	background-color: black;
}

#type_adult_area ul .type_adult_block div
{
	position: absolute;
	width:100%;
	height:100%;
	top: 10px;
	text-align:center;
	pointer-events: none;
}

#screen #body #container #contents #type_child_area
{
    position: relative;
    margin: 0 auto;
    top: 25%;
    transform: translateY(-50%);
	width:95%;
	height:40px;
    z-index: 2;
}

#type_child_area #text
{
    position: absolute;
    left: 0;
    top: 10%;
    margin: 10px 10px 10px 10px;
    color:#939292;
}

#type_child_area ul
{
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    display:flex;
}

#type_child_area ul .type_child_block
{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 15px;
    background-color: white;
    border: 1px solid #a2a2a2;
    line-height: 16px;

}

#type_child_area ul .type_child_block.selected
{
	color: white;
	background-color: black;
}

#type_child_area ul .type_child_block div
{
	position: absolute;
	width:100%;
	height:100%;
	top: 10px;
	text-align:center;
	pointer-events: none;
}
/*
---------------------------------------------------------------------
[contents] - info area
---------------------------------------------------------------------
*/

#screen #body #container #contents #info_area
{
	position: absolute;
    left: 50%;
	width:50%;
	height:150px;
    text-align: center;
	border: 1px solid #a2a2a2;
	background-color: #fffdfbd6;
	box-shadow: 0px 0px 5px #0000009c;
}

#screen #info_area #date 
{
	position: relative;
	height:90px;
	margin: 0px;
    text-align: center;
}

#screen #info_area #date div
{
	position:relative;
	top:50%;
	transform: translateY(-50%);
	font-size:25px;
	font-weight:900;
}

#screen #info_area #seat_available 
{
	position: relative;
	height:0px;
    text-align: center;
    margin: 0px;
}
#screen #info_area #seat_available  div
{
	position:relative;
	top:50%;
	transform: translateY(-50%);
	font-size:15px;
	font-weight:500;
}



/*
---------------------------------------------------------------------
[contents] - Seat Selection area
---------------------------------------------------------------------
*/

#screen #body #container #contents #seat_area
{
	position: relative;
    left: 0%;
    top:150px;
	width:100%;
	height:500px;
    text-align: center;
	border: 1px solid #a2a2a2;
	background-color: #f9f3edd6;
}


#contents #seat_area #instruction_area
{
    position: absolute;
    left: 85%;
    top: 40%;
    transform: translateX(-50%);
    width: 12%;
    height: 30%;
}
#contents #seat_area #instruction_area ul
{
	display:block;
}


#contents #seat_area #instruction_area ul li
{
    position:relative;
    margin: 10px 0px 0px 20px;
    display: flex;
}

#contents #seat_area #instruction_area ul li .icon
{
	position:relative;
	width: 20px;
	height: 20px;
	box-shadow: 0px 2px 10px #0000009c;
}

#instruction_area ul li #icon1
{
	background-color: #448FF2 !important;
}
#instruction_area ul li #icon2
{
	background-color: #4e4d4d !important;
}
#instruction_area ul li #icon3
{
	background-color: #aeaeae !important;
}
#instruction_area ul li #icon4
{
	background-color: #f86363 !important;
}

#contents #seat_area #instruction_area ul li .text
{
	position:relative;
	left: 10px;
	top: 5px;
	width: 60px;
	height: 100%;
	font-size: 13px;
	pointer-events: none;
}

#contents #seat_area #seat_screen_box
{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    width: 40%;
    height: 5%;
    background-color:#8c8c8c;
}

#contents #seat_area #seat_screen_box div
{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 20%;
	letter-spacing: 10px;
	pointer-events: none;
}

#contents #seat_area #seat_selection_box
{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 290px;
    height: 290px;
}

#contents #seat_area #seat_selection_box .seatList
{
	position:absolute;
	width:40px;
	height:40px;
	margin: 10px;
	background-color:#4e4d4d;
	border: 1px solid black;
	text-align:center;
}

#contents #seat_area #seat_selection_box .seatList.reserved
{
	border: 0px solid black;
	background-color: #aeaeae;
}

#contents #seat_area #seat_selection_box .seatList.hover
{
	background-color: #fefefe;
}

#contents #seat_area #seat_selection_box .seatList.clicked
{
	background-color: #448FF2;
}

#contents #seat_area #seat_selection_box .seatList div
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 32%;
    text-align: center;
    color:#ededed;
    pointer-events: none;
}

#contents #seat_area #seat_selection_box .seatList.hover div
{
    color:black;
}


#seat_area #seat_column_name
{
	left: 34%;
	top: 35%;
	position: absolute;
	width: 20px;
}

#seat_area #seat_column_name ul
{
	display: block;
}

#seat_area #seat_column_name ul li
{
	position: relative;
	font-size: 20px;
	margin-bottom: 35px;
	color: grey;
}



/*
---------------------------------------------------------------------
[contents] - Result area
---------------------------------------------------------------------
*/


#result_area
{
	position: absolute;
	top:676px;
	width: 100%;
	height: 120px;
	border: 1px solid #a2a2a2;
	background-color: black;
}

#result_area #previous_btn
{
	position: absolute;
	top: 50%;
	margin-left: 15px;
	transform: translateY(-50%);
	width: 90px;
	height: 90px;
	background-color: #2d2d2d;
	border: 3px solid #c1c1c1;
	border-radius: 20px;
}
#result_area #previous_btn:hover
{
	border: 3px solid #cce2ff;
}

#result_area #previous_btn #res_icon
{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	width: 50%;
	height: 50%;
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	color: white;
}
#result_area #previous_btn #res_text
{
	position:relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	top: 70%;
	text-align:center;
	color: white;
	pointer-events: none;
}


#result_area #progress_btn
{
	position: absolute;
	top: 50%;
	right: 0px;
	margin-right: 15px;
	transform: translateY(-50%);
	width: 90px;
	height: 90px;
	background-color: #2d2d2d;
	border: 3px solid #c1c1c1;
	border-radius: 20px;
}

#result_area #progress_btn:hover
{
	border: 3px solid #cce2ff;
}

#result_area #progress_btn #res_text
{
	position:relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	top: 70%;
	text-align:center;
	color: white;
	pointer-events: none;
	
}

#result_area #progress_btn #res_icon
{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	width: 50%;
	height: 50%;
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	color: white;
}

#result_area #center_area
{
	position: relative;
	width: 77%;
	height: 100%;
	margin: 0 auto;
}

#result_area #center_area .res_area
{
	position: relative;
	width: 211px;
	height: 100%;
	float: left;
	font-size: 14px;
}

/* area1 */
#result_area #center_area #res_area1::after
{
    content: "";
    display: block;
    left: 210px;
    width: 1px;
    height: 100%;
    background: #bbbbbb;
    position: absolute;
}

#result_area #center_area #res_area1 #res_title
{
	position:absolute;
	margin: 0 auto;
	padding: 5px;
	top: 50%;
	transform: translateY(-50%);
	left: 40%;
	width: 150px;
	font-size: 12px;
	color: white;
}

/* area2 */
#result_area #center_area #res_area2::after
{
    content: "";
    display: block;
    left: 210px;
    width: 1px;
    height: 100%;
    background: #bbbbbb;
    position: absolute;
}
#result_area #center_area #res_area2 ul li
{
	margin-bottom: 10px;
}
#result_area #center_area #res_area2 #res_name
{
	padding: 5px;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	color: #dadada;
}

#result_area #center_area #res_area2 #res_value
{
	position:absolute;
	padding: 5px;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 135px;
	color: white;
	font-weight: 700;
}

#result_area #center_area #res_area2 #res_value li
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/* area3 */
#result_area #center_area #res_area3::after
{
    content: "";
    display: block;
    left: 210px;
    width: 1px;
    height: 100%;
    background: #bbbbbb;
    position: absolute;
}

#result_area #center_area #res_area3 #res_name
{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 5px;
	width: 50px;
	color: #dadada;
}

#result_area #center_area #res_area3 #res_seatId
{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 5px;
	right: 0;
	width: 135px;
	color: white;
	font-weight: 700;
}

/* area4 */

#result_area #center_area #res_area4 #res_name
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #dadada;
	padding: 5px;
}

#result_area #center_area #res_area4 li
{
	margin-bottom: 10px;
}
#result_area #center_area #res_area4 #res_value 
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
	width: 135px;
	margin-bottom: 10px;
	color: white;
	padding: 5px;
	font-weight: 700;
}


#result_area #center_area #res_area4 #res_value #res_totalPrice
{
	font-weight: 700;
	font-size: 16px;
	color: #ff6666;
}





