@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;}


/*
---------------------------------------------------------------------
Start from here
*/

/*
---------------------------------------------------------------------
레이아웃 
---------------------------------------------------------------------
*/
#header {
	width: 100%;
	height: 170px; /*헤더고정*/
	background-color: #fff;
	border-bottom: 1px solid #c6c6c6;
	
}

#myinfo {
	position: relative; 
	background-color: #fff; /*배경*/
	background-attachment: fixed; /*배경고정*/
	position: sticky; /*헤더고정*/
	top: 0; /*헤더고정*/
	
	}

/* 
---------------------------------------------------------------------
가운데 영역 
---------------------------------------------------------------------
*/
.contatiner {
	position: relative;
	width: 1700px;
	margin: 0 50 50 50px;
	background: rgba(0, 0, 0, 0);
}

/* 
---------------------------------------------------------------------
로우 영역 
---------------------------------------------------------------------
*/
.row {
	padding: 0 120px;
}

/* 
---------------------------------------------------------------------
헤더 영역 
---------------------------------------------------------------------
*/
.header {
	overflow: hidden;
	position: Fixed;
	width: 85%;
	height: 170px;
}

.header h1 {
	float: left;
}

/*로고위치*/
.header h1 em {
	padding: 13px 10px 10px 0;
	display: block;
}

.header h1 img {
	width: 50%;
	vertical-align: sub;
	margin-top: 20px;
}

/*오른쪽 서비스 위치*/
.nav {
	float: right;
	margin-top: 25px;
}

.header .nav ul {
	border-left: 0px solid #777;
}

.clearfix li {
	display: inline-flex;
	font-size: 13px;
	font-weight: 500;
}

.clearfix img {
	display: flex;
	margin-bottom: 10px;
	padding-left: 5px;
	width: 40px;
	height: 40px;
}

.clearfix span {
	display: flex;
	margin-bottom: 10px;
	margin-right: 20px;
	padding-left: -5px;
}

/*
---------------------------------------------------------------------
검색창
---------------------------------------------------------------------
*/
.search-box {
	position: absolute;
	top: 75%;
	left: 90%;
	transform: translate(-50%, -50%);
	background: #c0c0c0;
	height: 30px;
	border-radius: 30px;
	padding: 10px;
}

/*검색폭 */
.search-box:hover>.search-txt {
	width: 200px;
	padding: 0 6px;
}

/*돋보기*/
.search-box:hover>.search-btn {
	position: absolute;
	right: 5px;
	background: white;
	color: #1e1e1e;
}

.search-btn {
	color: #d9d9d9;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 30px;
	width: 0px;
}


/* 내 정보 */
.myinfo {position: absolut; left: 0; top:0px; width: 100%; height: 800px; }
.myinfo h2 {font-size: 70px; margin: 50px; text-align: center; font-weight: 700; color:#c6c6c6 }
.myinfo .wrapper {text-align: center; display:block; position: relative; height:100%; }
.myinfo .myinfo_insert {position: absolute; left:50%; transform: translate(-50%); width: 349px; }

.myinfo h3 {font-size:20px; font-weight: 700; margin: 20px 0 10px; text-align: left; padding:10px 0 0 5px;}
.myinfo .box {display: block; width:100%; height:30px; border: solid 1px #dadada; box-sizing: border-box; position: relative;}
.myinfo .int {display: block; width:97%; height:25px; border: none; font-size: 15px}

.myinfo .box.int_gender {border: solid 0px #fff}
.myinfo .age {margin: 1px 0 8px; }
.myinfo .edit_button {display: inline_block; border: none; font-size: 20px; margin: 15px 0; padding: 5px 40px 5px 40px; background-color: pink; border: none; color: white; }
.myinfo .edit_button:hover {color: gray; }
.myinfo .out_button {display: inline_block; border: none; font-size: 20px; margin: 15px 0; padding: 5px 30px 5px 40px; background-color: white; border: none; color: #c0c0c0; }
.myinfo .out_button:hover {color: black; }




